.header {
    width: 100%;
    display: flex;
    background-color: var(--bg-color-dark);
    position: fixed;
    z-index: 1;

    ul.header-nav {
        display: flex;
        width: 100%;
        margin: 4vh 12vw;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color-dark);

        li {
            &.header-nav-name {
                width: 25%;

                h2 {
                    a.header-nav-main-link {
                        color: var(--text-color-dark);
                    }

                    a.header-nav-main-link:hover {
                        color: var(--text-color-light);
                    }
                }
            }

            &.header-nav-link {
                font-weight: 600;
            }
        }
    }

    ul.header-nav-medium {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        ul.header-nav {
            margin: 4vh 6vw;


            li {
                &.header-nav-name {
                    width: 20%;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {

        ul.header-nav {
            display: none;
        }

        ul.header-nav-medium {
            width: 100%;
            margin: 3vh 6vw;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li.header-nav-name {

                h2 {
                    a.header-nav-main-link {
                        color: var(--text-color-dark);
                    }

                    a.header-nav-main-link:hover {
                        color: var(--text-color-light);
                    }
                }
            }

            li.header-nav-dropdown {

                div.dropdown {

                    div.dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: var(--bg-color-light);
                        z-index: 1;

                        a.header-nav-link {
                            padding: 10px 15px;
                        }

                        a.header-nav-link:hover {
                            background-color: var(--bg-color-dark);

                            &:first-child {
                                border-radius: 10px 10px 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 10px;
                            }
                        }
                    }

                }

                div.dropdown:hover {
                    div.dropdown-content {
                        display: flex;
                        flex-direction: column;
                        margin-left: -40px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}