.main {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-light);
    color: var(--text-color-dark);
    margin-top: 70px;

    section.main-search {
        padding-top: 45px;
        background-image: url("../../assets/images/job_search.jpg");
        background-position: 25%;

        ul.main-search-list {
            display: flex;
            flex-direction: column;
            margin: 12vw;
            min-height: 50vh;

            li {

                h1 {
                    margin-bottom: 50px;
                }

                form.main-search-form {
                    width: 100%;
                    margin-bottom: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input.search-form {
                        margin-right: 50px;
                        width: 30%;
                        padding: 20px;
                        border-radius: 10px;
                    }

                    button.nav-button {
                        width: 25%;
                        padding: 20px;
                    }
                }
            }
        }
    }

    section.main-categories {
        background-color: var(--bg-color-light-alt);

        ul.main-categories-list {
            margin: 4vh 12vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                ul.main-category {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 230px;
                    height: 230px;
                    background-color: var(--bg-color-dark);
                    margin: 20px 10px;
                    border-radius: 15px;
                    transition: transform 1s;

                    li {
                        margin: 20px 0;
                    }

                    li:last-child {
                        @include AccentedText;
                    }
                }

                ul.main-category:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

    section.main-blogs {
        ul.main-blogs-list {
            margin: 4vh 12vw;
            display: flex;
            justify-content: space-between;

            li.main-blog {
                display: flex;
                flex-direction: column;
                width: 30%;

                img {
                    margin-bottom: 15px;
                }

                h3 {
                    margin-bottom: 15px;
                }

                p.main-blog-subtitle {
                    color: var(--text-color-light);
                    font-size: 0.9rem;
                    margin-bottom: 15px;
                }

                p.main-blog-text {
                    margin-bottom: 25px;
                    font-size: 0.9rem;
                }

                p.main-blog-link {

                    a {
                        color: var(--text-color-black);
                        background-color: var(--bg-color-dark);
                        padding: 5px 10px;
                        border-radius: 15px;
                        font-size: 0.9rem;

                    }

                    a:hover {
                        @include AccentedText;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        section.main-search {
            ul.main-search-list {
                margin: 6vw;
            }
        }

        section.main-categories {
            ul.main-categories-list {
                margin: 2vh 6vw;
            }
        }

        section.main-blogs {
            ul.main-blogs-list {
                margin: 2vh 6vw;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        section.main-search {
            ul.main-search-list {
                margin: 6vw;

                li {
                    form.main-search-form {
                        input.search-form {
                            margin-right: 20px;
                        }

                    }
                }
            }
        }

        section.main-categories {
            ul.main-categories-list {
                margin: 4vh 12vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {

        margin-top: 3vh;

        section.main-search {
            ul.main-search-list {
                margin: 6vw;

                li {

                    h1 {
                        text-align: center;
                    }

                    form.main-search-form {
                        display: flex;
                        flex-direction: column;

                        input.search-form {
                            width: 80%;
                            margin-bottom: 20px;
                            margin-right: 0;
                        }

                        button.nav-button {
                            width: 88%;
                        }

                    }
                }
            }
        }

        section.main-categories {
            h1.main-title {
                display: flex;
                justify-content: center;
                white-space: nowrap;
            }

            ul.main-categories-list {
                justify-content: center;
            }
        }

        section.main-blogs {
            ul.main-blogs-list {
                flex-direction: column;
                align-items: center;

                li.main-blog {
                    width: 80%;

                    p.main-blog-text {
                        display: none;
                    }

                    p.main-blog-link {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}