* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}

a:hover {
    color: var(--text-color-dark);
}

input,
button,
textarea {
    border: none;
    outline: none;
}

@mixin AccentedText {
    background-color: var(--bg-color-dark-acc);
    color: var(--text-color-light-acc);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
}

.nav-button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--bg-button-color);
    color: var(--text-button-color);
}

.nav-button:hover {
    cursor: pointer;
    background-color: var(--bg-button-color-hover);
    transition: 0.5s;
}

.main-title {
    margin: 50px 200px;
    text-align: center;
}